button {
	width: inherit;
}

.correct {
	background-color: green !important;
	border-color: green !important;
}

.wrong {
	background-color: black !important;
	background-color: black !important;
}

#hangman {
}