* {
	font-family: 'Open Sans', sans-serif;
}

button {
	width: inherit;
}

.correct {
	background-color: #6FB07F !important;
	border-color: #6FB07F !important;
}

.wrong {
	background-color: #7E827A !important;
	border-color: #7E827A !important;
}

.input-button {
	background-color: #2F343B;
	border-color: #2F343B;
	color: #E3CDA4;
	font-size: 3.6em;
	width: 1.5em;
}

.input-button:hover {
	background-color: #C77966;
	border-color: #C77966;
}

.background {
	background-color: #703030;
}

#guessRow {
	font-size: 6em;
}

span {
	display: inline-block;
 	white-space:pre; /* wacky ass fix */

}

.delay {
	animation-delay: 2s;
}

h1 {
	color: #E3CDA4;
}

#hangman {
	height: 500px !important;
}