button {
	width: inherit;
}

.correct {
	background-color: #6FB07F !important;
	border-color: #6FB07F !important;
}

.wrong {
	background-color: #7E827A !important;
	border-color: #7E827A !important;
}

.input-button {
	background-color: #2F343B;
	border-color: #2F343B;
	color: #E3CDA4;
	font-size: 5em;
	width: 1.5em;
}

.input-button:hover {
	background-color: #C77966;
	border-color: #C77966;
}

.container-fluid {
	background-color: #703030;
}

#guessRow {
	font-size: 10em;
}

span {
	display: inline-block;
}

.delay {
	animation-delay: 2s;
}